/* 	
	Project: Japanese Group Page Styles
	Creator: Kimberly Leubner, John Arnold
	Class: CIS 131
*/

/* Body Styles */

html {
	font-family: Arial, sans-serif;
	background-image: url("Images/retina_wood.png");
	background-repeat: repeat;
}

body {
	overflow: auto;
	background-color: rgb(204, 93, 87);
	display: block;
	width: 65%;
	margin: 1% auto;
	border: 1px black solid;
		box-shadow: #262423 -5px -5px 20px,
					#262423 5px 5px 20px;
}

h1, p, h2 {
	padding: 15px 40px;
	text-align: justify;
	line-height: 1.6;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1.1em;
}

header > img {
	width: 100%;
	height: 50%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

#logo {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	padding: 1%;
	font-size: 7em;
	letter-spacing: .1em;
}
	
/* Navigation Styles ---- TO BE REDONE POSSIBLY---- */

li {
	display: inline;
}

nav {
	margin-top: -5px;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 1px;
	background-color: #efdedc;
	border-bottom: 1px black solid;
}

nav a {
    display: inline-block;
    padding: 10px 45px;
	letter-spacing: .15em;
}

a:active {
	color: black;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

.active a{ 
    font-weight: bold;
}

/* Footer Styles */

footer {
	text-align: center;
	background-color: #efdedc;
	font-size: .9em;
	border-top: 1px black solid;
	padding: 7px 0px;
}

/* Food Section Styles */

#Mochi, #Dorayaki, #Castella, #Sushi, #Tonkatsu, #Okonomiyaki {
	background-color: rgb(232, 181, 178);
	overflow: hidden;
	border-top: 1px black solid;
}

#Anmitsu, #Dango, #Ramen, #Tempura {
	background-color: rgb(204, 93, 87);
	overflow: hidden;
	border-top: 1px black solid;
}

figure#MochiPic, figure#DorayakiPic, figure#CastellaPic, figure#SushiPic,
figure#TonkatsuPic, figure#OkonomiyakiPic {
	float: right;
	padding: 30px 40px 20px 40px;
}

figure#AnmitsuPic, figure#DangoPic, figure#RamenPic, figure#TempuraPic {
	float: left;
	padding: 30px 40px 20px 40px;
}

.photograph {
	display: block;
	border-radius: 15px;
	border: 1px solid black;
}

figcaption {
	text-align: center;
	font-size: .9em;
	padding-top: 8px;
}

/* Form Style */

#submitbutton input {
  font-family: Arial, sans-serif;
  }

fieldset {
position: relative;
padding: 1em;
background: white;
text-align: left;
}

form {
background: rgb(232, 181, 178);
padding: 10px 5px 7px 5px;
margin: 0 auto;
width: 600px;
border: 2px solid black;
margin-bottom: 20px;
}

input {
font-size: 1em;
}

input:focus {
background: #e3d5ba;
}

label {
display: block;
position: relative;
margin: 12px 0;
}

#contactinfo input {
position: absolute;
left: 100px;
}

#nameinput, #emailinput {
width: 20em;
}

#messageinput {
width: 30em;
}

#phoneinput {
width: 12em;
}

#submit {
background: #efdedc;
font-size: 1.25em;
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomright: 10px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#submitbutton {
padding: 1em 0;
margin-bottom: 0;
text-align: center;
}

/* Home Images */

#rightHome {
	margin-left: 2em;
	margin-right: 2em;
	display: block;
	float: right;
}

#big {
	display:block;
    margin-left: auto;
    margin-right: auto;
}

#rightHome > img, #big > img {
	border-radius: 15px;
	border: 1px solid black;
}